/* 
Google Font API ref sheet:
font-family: 'Nabla', cursive;
font-family: 'Roboto', sans-serif;

Font weights:
Nabla-400
Roboto-300,400,700
*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 1rem 7rem;
}

h1 {
    font-family: 'Nabla', cursive;
}

body {
    background-color: #202C59;
}

.add-left-margin {
    margin-left: 20px;
}
#searchButton{
margin-left: 5px;
padding: auto;
    color: black;
    background-color: rgb(75, 75, 135);
}